
{% extends 'base.html.twig' %}

{% block body %}
<div style="height:300px" class="container d-flex justify-content-center align-items-center">
    <h1>Oups... ! PAGE 404</h1>
    <p>La page n'existe pas. <a href="{{ path('home') }}">Retourner à l'accueil</a></p>
</div>
{% endblock %}