{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ label }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}

    <h1>Page de connection !</h1>
    <br>
	<hr>
    
    <form action="{{ path('security_connexion') }}" method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="exemple@mail.com" required name="_username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Mot de passe" required name="_password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Se connecter</button>
        </div>
    </form>

{% endblock %}