{% extends 'base.html.twig' %}

{% block body %}


<h1>Modifier l'image d'affiche de la figure <u>{{ figure.title }}</u></h1>
<br>
<hr>


	{{ form_start(formEditHeadVisual) }}
	
	{{ form_row(formEditHeadVisual.headVisual) }}
    
    {{ form_row(formEditHeadVisual._token) }}

	<input type="submit" class="btn btn-success" value="Modifier">

    {% endblock %}