{% extends 'base.html.twig' %}

{% block body %}

	<h1>Création d'une catégorie</h1>

	{{ form_start(form) }}
	{{ form_row(form.name, {'label': 'Nom', 'attr': { 'placeholder': "Nom de la catégorie"}}) }}
	{{ form_row(form.description, {'label': 'Description', 'attr': { 'placeholder': "Description sommaire de la catégorie"}}) }}
	<button type="submit" class="btn btn-success">Enregistrer</button>
	{{ form_end(form) }}

{% endblock %}