{# templates/emails/registration.html.twig #}
<h3>Bravo ! Vous vous êtes inscit sur notre site internet!</h3>

Pour valider votre insciption, veuillez cliquer sur le lien suivants : 
<br>

{# <a href="http://localhost/confirm&user_id=' .  htmlspecialchars($_SESSION['newUser']) . '&confirmation_token=' . htmlspecialchars($_SESSION['token']) . '">je confirme mon inscription</a> #}


{# <img src="{{ absolute_url(asset('images/background.jpg')) }}"> #}

