{% extends 'base.html.twig' %}

{% block title %}Salut!{% endblock %}


{% block img %} 
    <div style="position: relative; display: inline-block;">
            <img class="container-fluid"  style="padding: 0px" src="https://www.rei.com/content/dam/images/Expert%20Advice/Migration/HeroImages/Content_Team_082817_18850_Snowboards_Choose_lg.jpg">
            <h1 style="position: absolute; width: 100%; top: 30%; text-align: center; font-size: 60px; color: #007BFF; text-shadow: 2px 2px 1px #000">Sur SnowTricks, partage tes tricks !!</h1>
    </div>
{% endblock %}

{% block body %} 

    {% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ label }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}

    <a style="position:fixed; bottom:30px; right:30px; z-index:2; font-size:3em; text-shadow: 2px 2px 1px #000" href="#AnchFigures"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>

    <div style="display: flex; flex-wrap: wrap;">

    {% for figure in figures %}
        {% include 'tricks/_figure.html.twig' %}
    {% endfor %}
   
    </div>

{% endblock %}
